<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <title>Jottit: Please Wait...</title>
    <link rel="stylesheet" href="/static/css-generated.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>

<body class="app">

<div id="dialog_wrapper">
<div id="dialog">

<h1 style="color: maroon;">Please wait...</h1>

<p>
    Oops, you caught us right when we were restarting Jottit. We're taking it 
    offline for a second to add new features (and probably fix a few old 
    bugs). By the time you've read this far, it should probably be back up now, 
    so feel free to go ahead and hit reload.
</p>

<p>
    If, after a few minutes, you still get this message, go ahead and give us a 
    call: feedback@jottit.com. Thanks -- and sorry.
</p>

</form>
</div>
</div>

</body>
</html>
