{% extends "site_base.html" %}
{% block title %}Set a new password{% endblock %}
{% block content %}
  <article class="site-form">
    <header><h1>Set a new password</h1></header>

    {% include "partials/form_error.html" %}

    <form method="post" class="form">
      <input type="hidden" name="d" value="{{ token }}">
      <p>
        <label>New password
          <input type="password" name="new_password" required autofocus>
        </label>
      </p>
      <p><button type="submit">Set password</button></p>
    </form>
  </article>
{% endblock %}
