{% extends "dialog_base.html" %}
{% block title %}Set a new password{% endblock %}

{% block content %}
  <h1>Set a new password</h1>

  {% include "partials/form_error.html" %}

  <form method="post" action="" class="form">
    <input type="hidden" name="d" value="{{ token }}">
    <p>
      <label for="new_password">New password</label>
      <input id="new_password" type="password" name="new_password" autocomplete="new-password" required autofocus>
    </p>
    <div class="form-actions">
      <button type="submit">Set password</button>
    </div>
  </form>
{% endblock %}
