{% extends "dialog_base.html" %}
{% block title %}Sign in{% endblock %}

{% block content %}
  <h1>Please enter the password for the site</h1>

  {% include "partials/form_error.html" %}

  <form method="post" action="" class="form signin-form">
    <input type="hidden" name="return_to" value="{{ return_to }}">
    <p class="signin-password-row">
      <label for="password" class="visually-hidden">Password</label>
      <input id="password" type="password" name="password" autocomplete="current-password" required autofocus>
      (<a href="{{ site_root_path }}site/forgot-password">I forgot the password</a>)
    </p>
    <p class="signin-remember-row">
      <label class="checkbox">
        <input type="checkbox" name="remember" value="1"> Remember me
      </label>
    </p>
    <div class="form-actions">
      <button type="submit">Sign in</button>
    </div>
  </form>
{% endblock %}
