{% extends "site_base.html" %}

{% set page_title = "about" %}
{% set page_url = "about" %}

{% block content %}

<div id="input">

<div id="about">

<p>Jottit makes getting a website <strong>as easy as filling out a textbox</strong>. For a quick look at what Jottit can do, check out this great <a href="http://flash.screeniac.com/jottit-dg/jottit-dg.html?TB_iframe=true&height=590&width=1050">screencast tour of Jottit</a> by <a href="http://demogirl.com/">Demo Girl</a>.</p>

<p>Jottit is a production of <a href="http://bitbots.net/">bitbots.net</a>: <a href="http://simonbc.com/">Simon Carstensen</a> and <a href="http://www.aaronsw.com/">Aaron Swartz</a>.</p>

<p>It's built with <a href="http://webpy.org/">web.py</a>. We're hosted by <a href="http://heroku.com/">Heroku</a>.</p>

</div>
</div>

{% endblock %}
