<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Change site address</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css-generated.css?{{csstime}}" />
</head>

<body class="app">

<div id="dialog_wrapper">
<div id="dialog">

<form id="change_password" method="post" action="{{jt.site.url}}admin/change-password">
    
<h1>Change password</h1>

{% if f.errors() %}
{{Markup(f.errors())}}
{% endif %}

<table cellspacing="0" cellpadding="0">
<tr>
    <th>Current password:</th>
    <td>{{Markup(f.current_password.render())}}</td>
</tr>
<tr> 
    <th>New password:</th>
    <td>{{Markup(f.new_password.render())}}</td>
</tr>
</table>
<p id="buttons">
    <input type="submit" value="Change password" /> 
    or <a href="settings" accesskey="g">Cancel</a>
</p>

</form>
</div>
</div>
{% if jt.testing %}
<script type="text/javascript" src="/javascripts/AJS.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
{% else %}
<script type="text/javascript" src="/static/js-generated.js?{{jstime}}"></script>
{% endif %}
<script type="text/javascript">
    AJS.exportToGlobalScope();
    $('current_password').focus();
    Page.focusWrong();
</script>

</body>
</html>
