<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Forgot password?</title>
    <link rel="stylesheet" type="text/css" media="screen, projection" href="/static/css-generated.css?{{csstime}}" />
</head>

<body class="app">

<div id="dialog_wrapper">
<div id="dialog">

<h1>Forgot the password?</h1>

<form id="forgot_password" method="post" action="forgot-password">

<p>We'll <strong>send an email</strong> to the address we got when the site was claimed.
This email has a <strong>secret link that will let you change your password.</strong></p>

<input type="submit" value="Send password" tabindex="1" />

</form>
</div>
</div>

</body>
</html>
