{% extends "site_base.html" %}

{% set page_title = "help" %}
{% set page_url = "help" %}

{% block content %}

<div id="input">

<div id="help">

<h3><a href="http://jottit.jottit.com/questions">Frequently Asked Questions</a></h3>

<p>Your questions might already have been answered. Take a look at our FAQ.</p> 

<h3><a href="http://getsatisfaction.com/jottit">Support forum</a></h3>

<p>This is where you report bugs, suggest features and help out other Jottit users. 
</p>

<h3><a href="http://jottit.jottit.com">Jottit Community Wiki</a></h3>

<p>
    This space is for you, the users. Use it for reporting bugs, requesting new features, 
    or something else entirely. We'll be sure to hang around and answer anthing that needs answering.
</p>

</div>
</div>

{% endblock %}
