<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/static/css-generated.css?{{csstime}}" type="text/css" />
{% if page_title %}
<title>Jottit: {{page_title}}</title>
{% else %}
<title>Jottit</title>
{% endif %}
{% block style %}
{% endblock %}
</head>
<body class="site">

{% if page_url != '/' %}
<h1>{{page_title}}</h1>
{% endif %}

{% block content %}
{% endblock %}


{% set nav_bar = [
  ('/', 'home'),
  ('about', 'about'),
  ('sites', 'find your site'),
  ('help', 'help')
] %}

<div id="menu">
{% for url, name in realfilt(urlfilt(page_url), nav_bar) %}
    {% if url == page_url %}
    <strong>{{name}}</strong>
    {% else %}
    <a href="{{url}}">{{name}}</a>
    {% endif %}
    {% if not loop.last %} | {% endif %}
{% endfor %}
</div>

</body>
</html>
